venv/
.aws
.azure
.bash_history
.cache/
.docker/
.git-credentials
.gitconfig
.kbsdk.cache
.landscape/
.lesshst
.motd_shown
.python_history
.sudo_as_admin_successful
.swp
.viminfo
.vscode-remote-containers/
__pycache__/
bin/
demo/
example.sh
gensim-data/
hello.txt
hello2.txt
last-modified.txt
marco.sh
script.py
snap/
stderr.txt
stdout.txt
suli/
welcome-to-docker/
.ssh/id_ed25519
.ssh/id_ed25519.pub
.ssh/known_hosts
.ssh/known_hosts.old
